* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

*:focus{
  outline: lightgrey;
}

button{
  height: 45px;
  width: 45px;
  line-height: 45px;
  border-radius: 100%;
  border: none;
  margin: 0 10px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  box-shadow: 3px 3px 3px grey;
  cursor: pointer;
}

.body-wrapper{
  height: 100vh;
  background-image: url(../img/coffee.jpg);
  background-size: cover;
  padding: 30px;
  font-family: 'Playfair Display', serif;
}

.paper-list{
  background-color: rgba(255,255,255,0.7);
  box-shadow: 1px 1px 2px grey;
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title{
  font-family: 'Yellowtail', cursive;
  font-size: 25px;
  text-transform: capitalize;
  flex-basis: 10%;
  margin-bottom: 20px;
}

ul.list{
  flex-basis: 80%;
  list-style: none;
  overflow-y: auto;
}

ul.list li{
  padding: 5px 0;
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

ul.list li p{
  flex-basis: 100%;
}

.add-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-item button{
  font-family: 'Yellowtail', cursive;
  margin-left: 15px;
}

.add-item input{
  padding: 10px 0;
  font-size: 20px;
  flex-basis: 80%;
  border: none;
  border-bottom: 1px solid black;
  background-color: inherit;
  font-family: 'Playfair Display', serif;
}
